{% extends 'workouttracker/base.html' %}
{% load static %}
{% load tags %}
{% load humanize %}

{% block content_header %}
<h1>Home
  <small>Overview</small>
</h1>
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ workoutsTotal }}</h3>
        <p>Total Workouts</p>
      </div>
      <div class="icon">
        <i class="fa fa-fist-raised fa-fw"></i>
      </div>
      <a href="{% url 'workouts' %}" class="small-box-footer">Go to Workouts <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ lastWorkout }}</h3>
        <p>Most Recent Workout</p>
      </div>
      <div class="icon">
        <i class="fas fa-history"></i>
      </div>
      <a href="#" class="small-box-footer">See Details <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{ runTotal }}km</h3>
        <p>Total Distance Run</p>
      </div>
      <div class="icon">
        <i class="fas fa-running"></i>
      </div>
      <a href="#" class="small-box-footer">Go to Runs <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
<div class="row">
   <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Welcome to OpenWorkoutTracker Beta!</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
          </button>
        </div>
      </div>  
      <div class="card-body">
        <p>OpenWorkoutTracker is a django-built webapp for managing your exercise and fitness routines and goals. It allows you to organize your fitness routines and record your workouts by date.</p>

        <p>OpenWorkoutTracker allows you to visualize your progress and keep you on track. It also includes built in exercises that you can include in your workouts or routines, and allows you to add your own if you want.</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div class="card">
      <div class="card-content">
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Recent Workouts</h3>
      </div>
      <div class="card-body">
        <table class="table">
        <tr>
        <th>Workouts</th>
        </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <canvas id="myChart" width="450" height="250"></canvas>
      </div>
    </div>
 
    <div class="card">
      <div class="card-header with-border">
        <h3 class="card-title">Progress</h3>
      </div>
      <div class="card-body">
    
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header with-border">
        <h3 class="card-title">History</h3>
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">

</script>
{% endblock %}
