{% extends 'workouttracker/base.html' %}
{% load static %}
{% load tags %}
{% load humanize %}

{% block content_header %}
<h1>Routines</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Routines</li>
</ol>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title">Quick Start</h3>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" href="{% url 'routine_create' %}">Create New Routine</a>
  </div>
</div>

{% for routine in routinesList %}
<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title">{{ routine.name }}</h3>
    <form id="delete_form_{{routine.id}}" method="post" action="{% url 'routine_delete' routine.id %}">
      {% csrf_token %}
    </form>
    <form id="as_workout_form_{{routine.id}}" method="post" action="{% url 'routine_as_workout' routine.id %}">
      {% csrf_token %}
    </form>
    <a href="#" onclick="document.getElementById('as_workout_form_{{routine.id}}').submit();" class="btn btn-default btn-sm" style="margin-left: 10px;">Use For Workout</a>
    <a class="btn btn-default btn-sm" style="margin-left: 10px;" href="{% url 'routine_update' routine.id %}">Edit</a>
    <a href="#" onclick="document.getElementById('delete_form_{{routine.id}}').submit();" class="btn btn-primary btn-sm" style="margin-left: 10px;">Delete</a>

  </div>
  <div class="card-body">
    {% for exercise in routine.exercises %}
      <small>{{ exercise }}<br/></small>
    {% endfor %}
    </div>
    <div class="card-footer text-center">
      </div>
    </div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  // console.log('{{routine}}')

  $('select').change(function() {
    $( "select option:selected" ).each(function() {
      window.location.href = "{{ request.path }}?page=" + $(this).val();
    });
  })
</script>
{% endblock %}
