{% extends 'workouttracker/base.html' %}
{% load humanize %}

{% block content_header %}
<h1>Runs
</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Runs</li>
</ol>
{% endblock %}

{% block content %}
<div class="card">
<div class="card-header with-border">
  <h3 class="card-title"> Past Runs</h3>
</div>
<div class="card-body">
<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th class="hidden-xs">Distance</th>
    <th class="hidden-xs">Time</th>
    <th class="hidden-xs"></th>
  </tr>
{% for run in runs %}
<tr>
  <td><a href="{{ run.get_absolute_url }}">{{ run.date }}</a></td>
  <td class="hidden-xs">{{ run.description }}</td>
  <td class="hidden-xs">{{ run.distance }} km</td>
  <td class="hidden-xs">{{ run.time }} minutes</td>
  <form id="delete_form_{{run.pk}}" method="post" action="{% url 'run_delete' run.pk %}">
    {% csrf_token %}
  </form>
  <td class="hidden-xs"><a href="#" onclick="document.getElementById('delete_form_{{run.pk}}').submit();" class="btn btn-primary">Delete</a></td>

{% endfor %}
</table>
</div>
<div class="card-footer">
  <a href="{% url 'run_create' %}" class="btn btn-primary">Create</a>
</div>
</div>
{% endblock %}
