{% extends 'workouttracker/base.html' %}
{% load static %}
{% load tags %}
{% load humanize %}

{% block content_header %}
<h1>Workouts</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Workouts</li>
</ol>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title">Quick Start</h3>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" href="{% url 'workout_create' %}">Create New Workout</a>
  </div>
</div>
<!-- <div>
{{workoutsList}}
</div> -->
{% for workout in workoutsList %}
<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title">{{ workout.name }}</h3>
    <a class="btn btn-default" href="{% url 'workout_update' workout.id %}">Edit</a>
  </div>
  <div class="card-body">
    {% for exercise in workout.exercises %}
      <small>{{ exercise }}<br/></small>
    {% endfor %}
    </div>
    <div class="card-footer text-center">
      </div>
    </div>
{% endfor %}
{% for category in categories %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{category}}</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
        {% for exercise in splits %}
        <tr>
          <td><a href="{{ exercise.get_absolute_url }}">{{ exercise.title }}</a></td>
          <td>{{ exercise.date }}</td>
          <td>{{ exercise.amount }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="{% url 'transactions' %}?category={{ category.id }}" >Go to workout</a>
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('select').change(function() {
    $( "select option:selected" ).each(function() {
      window.location.href = "{{ request.path }}?page=" + $(this).val();
    });
  })
</script>
{% endblock %}
