{% extends 'workouttracker/base.html' %}
{% load static %}
{% load tags %}
{% load humanize %}

{% block content_header %}
<h1>Workouts</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Workouts</li>
</ol>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title">Quick Start</h3>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" href="{% url 'workout_create' %}">Create New Workout</a>
    <a class="btn btn-primary" href="{% url 'routines' %}">Choose a Routine</a>
  </div>
</div>


{% for workout in workoutsList %}
<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title" >On {{ workout.name }}</h3>
    <span>
      <form id="delete_form_{{workout.id}}" method="post" action="{% url 'workout_delete' workout.id %}">
        {% csrf_token %}
      </form>
      <a class="btn btn-default btn-sm" style="margin-left: 10px;" href="{% url 'workout_update' workout.id %}">Edit</a>

    <a href="#" onclick="document.getElementById('delete_form_{{workout.id}}').submit();" class="btn btn-primary btn-sm" style="margin-left: 10px;">Delete</a>
  </span>
  </div>
  <div class="card-body">
    {% for exercise in workout.exercises %}
      <small>{{ exercise }}<br/></small>
    {% endfor %}
    </div>
    <div class="card-footer text-center">
      </div>
    </div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('select').change(function() {
    $( "select option:selected" ).each(function() {
      window.location.href = "{{ request.path }}?page=" + $(this).val();
    });
  })
</script>
{% endblock %}
