{% extends "_plain.html" %}

{% load account %}
{% load widget_tweaks %}

{% block title %}workouttracker | Password Reset{% endblock %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <b>OpenWorkoutTracker</b>
    <br/>
    <small>Password Reset</small>
</div>
  <div class="login-box-body">

{% if user.is_authenticated %}<p>
    {% include "account/snippets/already_logged_in.html" %}
    </p>{% endif %}
<p>Forgotten your password? Enter your email.</p>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  {% for field in form %}
  <div class="form-group">
  {% render_field field class="form-control" %}
  </div>
  {% endfor %}
  <button class="btn btn-primary btn-block btn-flat" type="submit">Reset My Password</button>
</form>
<br>
  </div>
</div>
{% endblock %}
